<div id="modal-privacy-policy" class="{{#if addModalClass}}modal{{/if}}">
    {{#if addModalClass}}
        <div class="modal-header">
            <img src="https://uploads-ssl.webflow.com/634d1196dfe3ee1059acb423/645086b0a698ed589c0e7f2c_643f493fef815326747b023c_image%2096.png" loading="lazy" alt="">
            <div href="#" class="modal-close" style="text-decoration:none;">
                <span>×</span>
            </div>
        </div>
    {{/if}}
    <section class="page">
        {{#unless theme_settings.hide_page_heading }}
            <h1 class="page-heading">{{lang 'consent_manager.privacy_policy'}}</h1>
        {{/unless}}

        {{{region name="page_builder_content"}}}

        <div class="page-content page-content--centered">
            <p></p><blockquote>We collect personal information from you when you register via any form on this site, place an order, enter a contest or sweepstakes, 
                respond to a survey or communication such as e-mail, or participate in another site feature.</blockquote>
            <h3>WHAT PERSONAL INFORMATION DO WE COLLECT?</h3>
            <p>When ordering or registering, we may ask you for your name, e-mail address, mailing address, phone number, credit card information or other information. 
                We also collect information about gift recipients so that we can fulfill the gift purchase. The information we collect about gift recipients is not used for marketing purposes.</p>
            <p>Like many websites, we also use "cookies" to enhance your experience and gather information about visitors and visits to our websites. Please refer to the "Do We Use Cookies?" 
                section below for information about cookies and how we use them.</p>
            <p>You may also visit our site anonymously. However through tools such as Google Analytics, we collect and aggregate anonymous traffic information when you visit this website 
                to help us understand and improve the shopping experience for future viewers. The anonymous traffic information we collect may include your IP address and the various pages 
                you view during your visit(s).</p>
            <h3>HOW DO WE USE YOUR INFORMATION?</h3>
            <p>We may use the information we collect from you when you register, purchase products, enter a contest or promotion, respond to a survey or marketing communication, 
                surf our website, or use certain other site features in the following ways:</p>
            <ul>
            <li>To personalize your site experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
            <li>To allow us to better service you in responding to your customer service requests.</li>
            <li>To quickly process your transactions.</li>
            <li>To administer a contest, promotion, survey or other site feature.</li>
            </ul>
            <p>If you have opted-in to receive our e-mail newsletter, we may send you periodic e-mails. If you would no longer like to receive promotional e-mail from us, 
                please refer to the "How Can You Opt-Out, Remove or Modify Your Information?" section below. If you have not opted-in to receive e-mail newsletters, you will not receive 
                these e-mails. Visitors who register or participate in other site features such as marketing programs and "members-only" content will be given a choice whether they would 
                like to be on our e-mail list and receive e-mail communications from us.</p>
            <h3>HOW DO WE PROTECT YOUR INFORMATION?</h3>
            <p>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is 
                only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. When you place 
                orders or access your personal information, we offer the use of a secure server. All sensitive/credit information you supply is transmitted via Secure Socket Layer (SSL) 
                technology and then encrypted into our databases to be only accessed as stated above.</p>
            <h3>DO WE USE COOKIES?</h3>
            <p>LEVEL5 Tools may use cookies. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) 
                that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we may use cookies to help us 
                remember and process the items in your shopping cart. Cookies are also used to help us understand your preferences based on previous or current site activity, which enables 
                us to provide you with improved services. We may also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better 
                site experiences and tools in the future.</p>
            <p>We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information 
                collected on our behalf except to help us conduct and improve our business.</p>
            <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser 
                (like Netscape Navigator or Internet Explorer) settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to 
                modify your cookies. If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not 
                function properly. However, you can still place orders over the telephone by contacting customer service.</p>
            <h3>DO WE DISCLOSE YOUR INFORMATION TO OUTSIDE PARTIES?</h3>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, except as described below. 
                The term "outside parties" does not include LEVEL5 Tools, LLC. It also does not include website hosting partners and other parties who assist us in operating our website, 
                conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release 
                is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>
            <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
            <h3>HOW CAN YOU OPT-OUT, REMOVE OR MODIFY YOUR INFORMATION?</h3>
            <p>To opt-out of your e-mail subscriptions, please use the "unsubscribe" link at the bottom of every email we send you and follow the instructions provided. Please note that due 
                to email production schedules, there is a chance you could receive an email already scheduled for delivery.</p>
            <p>To delete all of your online account information from our customer relationship database, please call our sales number at 410.929.7850 and your contact record will be 
                permanently deleted. Please note that we may maintain information about an individual sales transaction in order to service that particular transaction in the future 
                and for record keeping.</p>
            <h3>EMAIL DATA PRIVACY</h3>
            <p>LEVEL5 Tools may collect user email data via website interactions or through our VIP Club email sign up form(s). LEVEL5 Tools reserves the right to use this user email 
                data to communicate sales &amp; promotional opportunities at any time. User email data will not be redistributed or sold to any third parties and will be used solely 
                for the purposes of LEVEL5 Tools sales &amp; customer communication. By submitting your email address via our website VIP Club sign up form(s), you are joining the 
                LEVEL5 VIP Club. As a VIP Club member, you will be automatically entered into monthly tool giveaways &amp; receive exclusive offers by email directly from LEVEL5 Tools, 
                LLC. You can unsubscribe at any time either through the link found in our email footer or by emailing info@level5tools.com using the subject like 'EMAIL UNSUBSCRIBE REQUEST'.</p>
            <h3>SMS/TEXT MESSAGE PRIVACY</h3>
            <p>LEVEL5 Tools may request SMS user data for integration into our SMS VIP Club or SMS contact list(s). SMS messages will only be sent out to users who have specifically 
                and intentionally opted into our SMS VIP Club or who have explicitly opted in to receive informational and promotional opportunities from LEVEL5 Tools. LEVEL5 Tools 
                reserves the right to use this user phone/SMS data to communicate sales &amp; promotional opportunities at any time. User phone/SMS data will not be redistributed or 
                sold to any third parties and will be used solely for the purposes of LEVEL5 Tools sales &amp; customer communication. By signing up via text, you agree to receive 
                sales and marketing messages from LEVEL5 Tools. Consent is not a condition of purchase. Message and data rates may apply. Message frequency varies. You can unsubscribe from 
                our SMS VIP Club at any time by texting 'STOP' to 77222.</p>
            <h3>THIRD PARTY LINKS</h3>
            <p>In an attempt to provide you with increased value, we may include third party links on our site. These linked sites have separate and independent privacy policies. 
                We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and 
                welcome any feedback about these linked sites (including if a specific link does not work).</p>
            <h3>CHANGES TO YOUR POLICY</h3>
            <p>If we decide to change our privacy policy, we will post those changes on this page. Policy changes will apply only to information collected after the date of the change. 
                This policy was last modified on March 7, 2020.</p>
            <h3>QUESTIONS AND FEEDBACK</h3>
            <p>We welcome your questions, comments, and concerns about privacy. Please send us any and all feedback pertaining to privacy, or any other issue.</p>
            <h3>ONLINE POLICY ONLY</h3>
            <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
            <h3>TERMS AND CONDITIONS</h3>
            <p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website.</p>
            <h3>YOUR CONSENT</h3>
            <p>By viewing and/or engaging with this website, you consent to LEVEL5 Tools' Privacy Policy, as outlined above.</p><p></p>
    </div>

    </section>
</div>
