<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<section class="page">
    {{!-- {{page.id}} --}}
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}
    {{#if page.sub_pages}}
    <div class="support-navBar">
        
        {{#each page.sub_pages}}
            <a class="support-subpage-link" href="{{url}}">
                {{#if title '===' 'Support Request Form'}}
                    <h2 class="support-item">{{lang 'custom.page.support.submit_support_request'}}</h2>
                {{else if title '===' 'Warranty Registration'}}
                    <h2 class="support-item">{{lang 'custom.page.support.warranty.warranty_information'}}</h2>
                {{else}}
                    <h2 class="support-item">{{title}}</h2>
                {{/if}}
                <h2 class=" support-item fa fa-chevron-right"></h2>
            </a>
        {{/each}}
        
    </div>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>
