<div id="tooltype-popup-{{toolid}}" class="modal tooltype--popup" data-reveal style="width: 794px; max-height: 642px; min-height: auto;">
  {{> components/common/modal/popup-header }}

  <div class="modal-body" style="padding-top: 0px; min-height: fit-content;">
    <h1 style="margin: 0px;text-align:center;"><strong>CORNERS <span style="color: #e60012;">CONQUERED.</span></strong></h1>

    <div class="taper-images-wrapper">
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/applicator-style-1.webp');background-position-y:47%;"></div>
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/applicator-style-2.webp');background-position-y:40%;"></div>
    </div> 
    
    <p>
      Your choice in corner applicator tools comes down to convenience, preference, and job type. Here’s a breakdown of the key differences: 
    </p>

    <div class="flatbox-details">
      <p><strong>Corner Applicator:</strong> A 7” all-aluminum, corrosion resistant housing featuring a proprietary urethane wiper seal. The key benefits are:</p>

      <ul>
        <li>Lightweight on the wall</li>
        <li>Manual mud control for those who want it</li>
        <li>Lower upfront cost</li>
        <li>Easy to clean & maintain</li>
      </ul>

      <p><strong>MiniShot:</strong> A pressurized compound applicator that delivers mud without the manual pushing of a backplate. 
        During the filling process, back pressure is created that seamlessly dispenses mud with an adjustable flow when pressed onto the wall. 
        The key benefits are:</p>

      <ul>
        <li>Very fast and smooth operation for larger projects</li>
        <li>No pushing on the wall, when the Minishot is activated the flow nozzle ensures consistent coverage.</li>
        <li>Holds significantly more mud, meaning fewer trips back and forth to the pump    and longer runs across the wall.</li>
        <li>Less fatigue over long days.</li>
      </ul>
    </div>

    <h2><strong>VIDEO RESOURCES</strong></h2>

    <p>Checkout these design overviews and usage videos!</p>

    <div class="video-section">
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/q1E5nmzLaUY" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/zhtt9d9kl0Q" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
