<div id="tooltype-popup-{{toolid}}" class="modal tooltype--popup" data-reveal style="width: 794px; max-height: 642px; min-height: auto;">
  {{> components/common/modal/popup-header }}

  <div class="modal-body" style="padding-top: 0px; min-height:fit-content;">
    <h1 style="margin: 0px;text-align:center;"><strong>TAPE UP TO <span style="color: #e60012;">300% FASTER.</span></strong></h1>

    <div class="taper-images-wrapper">
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/taper-1.webp');background-position-y:25%;"></div>
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/tape-2.webp');background-position-y:43%;"></div>
    </div>   

    <p>
      If you’re planning to tackle large commercial or residential projects, an automatic taper will dramatically speed up your taping workflow. 
      It applies both tape & mud at the same time making quick work of flat seams and inside corners.
    </p>

    <p>
      When selected, it will automatically add a gooseneck to your tool set to ensure you can fill up your taper. 
    </p>

    <h2><strong>GET TO KNOW THE TAPER</strong></h2>

    <p>Watch Scott Murray go over the design, build, and usage of the LEVEL5 Automatic Taper.</p>

    <div class="video-section">
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/d5CQbj9fomg" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/87k08gxC8J8" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
