<div id="tooltype-popup-{{toolid}}" class="modal tooltype--popup" data-reveal style="width: 794px; max-height: 642px; min-height: auto;">
  {{> components/common/modal/popup-header }}

  <div class="modal-body" style="padding-top: 0px; min-height: fit-content;">
    <h1 style="margin: 0px;text-align:center;"><strong>CORNER FINISHERS</strong></h1>

    <div class="taper-images-wrapper">
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/corner-finisher-1.webp');background-position-y:48%;"></div>
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/corner-finisher-2.webp');background-position-y:25%;"></div>
    </div> 
    
    <p>
      All LEVEL5 corner finishers feature a precision-machined aluminum body, premium color anodizing for corrosion resistance, 
      and a robotically welded frame for long-term reliability. This choice comes down to flexibility and budget.
    </p>

    <div class="flatbox-details">
      <p><strong>Single 3” Finisher:</strong> The most versatile size for a corner finisher, letting you achieve a professional 
        finish and save time by applying mud to both sides of inside corners.</p>

      <p><strong>3” & 3.5” Finishers:</strong> To minimize sanding and touch ups, this grouping of finishers offers added 
        feathering capabilities to your set. Use the 3” finisher for the initial tape “glazing” coat, and the 3.5” finisher for 
        the second fill coat. The larger finisher will ensure corners are feathered out.</p>

    </div>
  </div>
</div>
