<div id="tooltype-popup-{{toolid}}" class="modal tooltype--popup" data-reveal style="width: 794px; max-height: 642px; min-height: auto;">
  {{> components/common/modal/popup-header }}

  <div class="modal-body" style="padding-top: 0px; min-height: fit-content;">
    <h1 style="margin: 0px;text-align:center;"><strong>FLAT BOX SIZES</strong></h1>

    <div class="taper-images-wrapper">
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/flat-box-sizes-1.webp');background-position-y:60%;"></div>
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/flat-box-size-2.webp');background-position-y:80%;"></div>
    </div>   

    <div class="flatbox-details">
      <p><strong>10”/12”:</strong> The most common choice for professional finishers, the 10” flat box is a standard all-around choice for 
        first & second coats. The 12” flat box is generally used for final finishing coats, covering a wider area and feathering out the mud. 
        These sizes also require fewer trips to the pump, making them ideal for larger projects.</p>

      <p><strong>7”/10”:</strong> The 7” flat box is ideal for first coats, and those looking for a lighter box in the hand. With this set up, 
        the 10” box acts as the tool for your final coats. This choice offers a lighter weight set up, and a slightly lower cost.</p>

      <div><strong>Similar Features:</strong></div>
      <ul>
        <li>Built from premium-grade anodized aluminum for corrosion resistance.</li>
        <li>Adjustable crown dial helps you dial in the perfect mud application.</li>
        <li>Proprietary urethane wiper seal makes for extremely smooth application.</li>
      </ul>

      <div><strong>Good-To-Knows:</strong></div>
      <ul>
        <li>Every compound pump includes a free flat box filler valve, so you will be able to efficiently fill any flat boxes you choose right out of the box.</li>
        <li>Every flat box comes with two sets of springs. Depending on your preference, these springs can increase or decrease the push force when using your flat boxes, giving you more control.</li>
      </ul>
    </div>

    <h2><strong>VIDEO RESOURCES</strong></h2>

    <p>Get familiar with the design & quality of LEVEL5 flat boxes, and explore how they are used in the field.</p>

    <div class="video-section">
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/Axl1Wvx8iqQ" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/Q3vtltqLCtk" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
