<div id="tooltype-popup-{{toolid}}" class="modal tooltype--popup" data-reveal style="width: 794px; max-height: 642px; min-height: auto;">
  {{> components/common/modal/popup-header }}

  <div class="modal-body" style="padding-top: 0px; min-height: fit-content;">
    <h1 style="margin: 0px;text-align:center;"><strong>STANDARD OR MEGA?</strong></h1>

    <div class="taper-images-wrapper">
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/flat-box-style-1.webp');background-position-y:45%;"></div>
      <div class="taper-image" style="background-image: url('https://www.level5tools.com/content/set-builder/flat-box-style-2.webp');"></div>
    </div>
        

    <div class="flatbox-details">
      <p><strong>Standard:</strong> A classic flat box shape designed to balance weight and mud capacity.</p>

      <p><strong>MEGA:</strong> A larger flat box chassis that holds up to 30% more mud. This means fewer trips back and forth to the pump, but it will be heavier on the wall.</p>

      <div><strong>Similar Features:</strong></div>
      <ul>
        <li>Built from premium-grade anodized aluminum for corrosion resistance.</li>
        <li>Adjustable crown dial helps you dial in the perfect mud application.</li>
        <li>Proprietary urethane wiper seal makes for extremely smooth application.</li>
      </ul>

      <div><strong>Good-To-Knows:</strong></div>
      <ul>
        <li>Every compound pump includes a free flat box filler valve, so you will be able to efficiently fill any flat boxes you choose right out of the box.</li>
        <li>Every flat box comes with two sets of springs. Depending on your preference, these springs can increase or decrease the push force when using your flat boxes, giving you more control.</li>
      </ul>
    </div>

    <h2><strong>VIDEO RESOURCES</strong></h2>

    <p>Get familiar with the design & quality of LEVEL5 flat boxes, and explore how they are used in the field.</p>

    <div class="video-section">
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/Axl1Wvx8iqQ" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/Q3vtltqLCtk" title="LEVEL5 Automatic Taper" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
