<div class="financing-section wf-section hide" id="modal-1">
  <div class="modal-container financing landing">
    <div class="modal-exit-button financing landing w-embed">
      <a
        href="#"
        class="modal-exit-button financing landing"
        >X</a
      >
    </div>
    <div class="modal-content">
      <div class="financing-content">
        <h3 class="modal-heading financing">{{lang 'products.finance.tool_financing'}}</h3>
        <div class="modal-scroll-box financing _2">
          <div class="text-block-96">{{lang 'products.finance.available_option'}}:</div>
          <div
            data-current="Tab 2"
            data-easing="ease"
            data-duration-in="300"
            data-duration-out="100"
            class="tabs w-tabs"
          >
            <div class="tabs-menu-4 w-tab-menu" role="tablist">
              <a
                data-w-tab="Tab 2"
                class="tab-link-tab-1 w-inline-block w-tab-link w--current"
                id="tab-credit"
                href="#w-tabs-0-data-w-pane-0"
                role="tab"
                aria-controls="w-tabs-0-data-w-pane-0"
                aria-selected="true"
              >
                <div class="down-div">
                  <div class="div-block-195"></div>
                </div>
                <div class="text-block-94">{{lang 'products.finance.credit_key.name'}}</div> </a
              ><a
                data-w-tab="Tab 1"
                class="tab-link-tab-1 w-inline-block w-tab-link"
                tabindex="-1"
                id="tab-click"
                href="#w-tabs-0-data-w-pane-1"
                role="tab"
                aria-controls="w-tabs-0-data-w-pane-1"
                aria-selected="false"
              >
                <div class="down-div">
                  <div class="div-block-195"></div>
                </div>
                <div class="text-block-94">{{lang 'products.finance.clicklease.name'}}</div>
              </a>
            </div>
            <div class="w-tab-content">
              <div
                data-w-tab="Tab 2"
                class="w-tab-pane w--tab-active"
                id="w-tabs-0-data-w-pane-0"
                role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0"
              >
                <div class="div-block-196">
                  <img
                    loading="lazy"
                    src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d54db294cce_Credit_Key_Logo.jpg"
                    alt=""
                    class="image-74"
                  />
                </div>
                <div class="intro-text---financing w-richtext">
                  <blockquote>{{lang 'products.finance.credit_key.business_line_credit'}}</blockquote>
                  <p>
                    <strong>
                      <em>{{lang 'products.finance.credit_key.your_annual_revenue'}}</em>
                      </strong
                    >
                  </p>
                </div>
                <div class="intro-text---financing _2 w-richtext">
                  <p>{{lang 'products.finance.credit_key.apply_credit_key'}}
                  </p>
                </div>
                <div class="w-layout-grid grid-26">
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fa-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fc-69294d01"
                    class="text-block-95"
                  >
                  {{lang 'products.finance.credit_key.instant_credit_decision'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fe-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd200-69294d01"
                    class="text-block-95"
                  >
                  {{lang 'products.finance.credit_key.zero_interest'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd202-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd204-69294d01"
                    class="text-block-95"
                  >
                  {{lang 'products.finance.credit_key.finance_duration'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd206-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd208-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.credit_key.we_ship_for_free'}}
                  </div>
                </div>
                <div class="intro-text---financing _2 _1 w-richtext">
                  <p>
                    <strong
                      >{{lang 'products.finance.credit_key.apply_not_affect_credit'}} </strong
                    ><strong
                      ><em>{{lang 'products.finance.credit_key.ein_note'}}</em
                      ></strong
                    ><strong> {{lang 'common.click_below_to_get_start'}}:</strong>
                  </p>
                </div>
                <a
                  id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd20e-69294d01"
                  href="https://www.creditkey.com/app/apply/level5"
                  class="button-primary forms financing w-button"
                  >{{lang 'common.get_started'}}</a
                >
              </div>
              <div
                data-w-tab="Tab 1"
                class="w-tab-pane"
                id="w-tabs-0-data-w-pane-1"
                role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-1"
              >
                <div class="div-block-196">
                  <img
                    sizes="(max-width: 479px) 77vw, 332.3055725097656px"
                    srcset="
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-500.png   500w,
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-800.png   800w,
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-1080.png 1080w,
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-1600.png 1600w,
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-2000.png 2000w,
                      https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease.png        2500w
                    "
                    src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease.png"
                    loading="lazy"
                    alt=""
                    class="image-74"
                  />
                </div>
                <div class="intro-text---financing w-richtext">
                  <blockquote>
                    {{lang 'products.finance.clicklease.sole_proprietors_and_business'}}
                  </blockquote>
                  <p>
                    <strong
                      ><em>{{lang 'products.finance.clicklease.financing_decision_in_minutes'}}</em
                      ></strong
                    >
                  </p>
                </div>
                <div class="w-layout-grid grid-26">
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1c9-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1cb-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.low_monthly_payment'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d1-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d3-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.early_purchase_option'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d5-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d7-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.instant_decisioning'}}
                  </div>
                  <div
                    id="w-node-_93c5abae-dca8-7bb5-c5c5-7a57e673c58a-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-_9e77a1df-66e2-4674-5e67-678f8d5d9824-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.no_business_requirement'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d9-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1db-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.cheaper_option'}}
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1dd-69294d01"
                    class="fontawesome"
                  >
                    
                  </div>
                  <div
                    id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1df-69294d01"
                    class="text-block-95"
                  >
                    {{lang 'products.finance.clicklease.ship_for_free'}}
                  </div>
                </div>
                <div
                  id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1e1-69294d01"
                  class="intro-text---financing _2 w-richtext"
                >
                  <p>
                    <strong
                      >{{lang 'products.finance.credit_key.apply_not_affect_credit'}}</strong
                    >
                  </p>
                </div>
                <a
                  href="https://app.clicklease.com/inlineapp?token=c89f9211-c8af-4e9c-ba76-728f0c3aa070"
                  class="button-primary forms financing w-button"
                  >{{lang 'common.lets_get_started'}}</a
                >
                <div class="fin-form-bottom">
                  {{lang 'common.want_more_information'}} &nbsp;{{lang 'footer.call_us' phone_number=''}}
                  <a href="tel:18002277713" class="bold">800.227.7713</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
