<div id="modal-merchandise-return-policy" class="modal" data-reveal data-prevent-quick-search-close>
    {{> components/common/modal/popup-header }}
        <!-- you can add any content inside the element below, including another template -->
        <div class="modal-content modal-klarna">
            <div class="modal-div">
                <div class="text-block-4">The LEVEL5 30-Day, “No-Hassle” Policy</div>
                <div class="text-block-5">We believe it is important that you have some time to evaluate the design, quality, fit and finish of your LEVEL5 tools before fully committing to their use. Therefore, if you aren't 100% satisfied, you have a period of 30 days from purchase to return any <b>UNUSED tools</b> you've purchased directly from LEVEL5 Tools LLC.
                    <a class="link" href="/return">Click here to process your return</a>.
                    <br><br>Once your tools have been received in good order at our facility, you will receive your choice of a credit or refund of the original price. Please note that refunds must be applied against the same credit card you used to make the original purchase.
                    <br><br><b>You will be responsible for any return shipping expenses.</b> We recommend you insure your shipment with your shipping agent (FEDEX, UPS, USPS, etc.), as you are responsible for any damage to the tools during the return shipment. To assist with offsetting these return shipping costs, LEVEL5 will provide you with a one-time use coupon code for our website equal to the return shipping amount (a copy of the shipping receipt is required).
                    <br><br>
                    <div class="return-center">
                        <a class="button button--primary btn-mob-full" role="button" href="/return">
                            Process Your Return
                        </a>
                    </div>
                </div>

                <div class="text-block-4">Terms & Condition</div>
                <div class="text-block-5">If you wish to return your LEVEL5 tools within the 30-day evaluation period:
                    <ul style="padding-left:10px;">
                        <li>
                            <b>The tools must be returned in the original packaging,</b> including any internal bags, foam inserts, internal boxes, and/or shipping boxes - to ensure the tools are protected during delivery back to our facility.
                        </li>
                        <li>
                            <b>The tools must be unused and undamaged,</b> so they can be resold as new, in order to receive a full refund of the purchase price.
                            <ul style="padding-left:10px;">
                                <li>
                                    UNUSED TOOLS - Any unused tools received that are damaged in any way so that they cannot be resold as new will need to be refurbished. This requires us to charge you a 25% restocking fee.
                                </li>
                                <li>
                                    USED TOOLS - Any used tools received will need to be cleaned of joint compound, refurbished and sold at a discount. We will charge you a 50% restocking fee OR return the used tools back to you if preferred. You will be responsible for paying any corresponding shipping charges if you wish to have the tools returned.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Any tools that are received damaged and cannot be refurbished and resold will discarded and will not qualify for a refund.</b> You will have the option to have the tool(s) returned to you, but you will be responsible for paying any corresponding shipping charges.
                        </li>
                    </ul>
                    If you have any questions regarding this return policy, please reach out to us toll-free at <a class="link">866.562.4229</a> (local: <a class="link">913.631.0804</a>).</div>
            </div> 
        </div>
</div>

<style>
    @media screen and (max-width:551px){
      #modal-merchandise-return-policy{
         min-height: 0vh;
         width:90%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   @media screen and (max-width:551px){
    .btn-mob-full {
        width: 100%;
    }
   }
   @media screen and (max-width:551px){
		.button.button--primary.btn-mob-full {
			width: 100%;
	    }
   }
   @media screen and (max-width:497px){
       .button.button--primary.btn-mob-full {
			font-size: 0.8rem;
	    }
   }
   .return-center {
        display: flex;
        justify-content: center;
    }
</style>

