<style type="text/css">
.standard-section {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px 60px;
}
.container-950px {
    width: 100%;
    max-width: 950px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.container---1200px {
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.div-block-73 {
    background-color: #ffffe1;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 44px;
    padding: 28px;
    display: flex;
}

.image-40 {
    width: 30%;
    display: inline-block;
}
.image-40.thank-you-page {
    max-height: 300px;
    object-fit: contain;
}

.div-block-72 {
    width: 70%;
    text-align: left;
    padding-left: 56px;
    display: inline-block;
}
.section-heading {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 4rem;
    font-weight: 300;
    line-height: 3rem;
}

.section-heading.notification-box-heading {
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.2;
    display: inline-block;
}
.notification-box-body {
    text-align: left;
    padding-top: 12px;
    font-size: 1.2em;
    line-height: 1.4;
}

.standard-section p {
    color: #666;
    margin-bottom: 12px;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
}

.standard-section a {
    background-color: rgba(0, 0, 0, 0);
}

.standard-section a {
    color: #c70000;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: border-color .2s cubic-bezier(.455, .03, .515, .955), color .2s cubic-bezier(.455, .03, .515, .955), background-color .2s cubic-bezier(.455, .03, .515, .955), opacity .2s cubic-bezier(.455, .03, .515, .955);
}





</style>
