<div class="standard-section wf-section">
	<div class="container---1200px">
		<div class="div-block-73">
			<img
				src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d9649294c41_robot-thank-you.png"
				alt=""
				class="image-40 thank-you-page"
			/>
			<div class="div-block-72">
				<h2 class="section-heading notification-box-heading">{{lang 'custom.page.thank_you_submission'}}</h2>
				<p class="notification-box-body">
				{{!--	On behalf of all of us at LEVEL5, thank you for your interest in representing our tools!<br/><br/> --}}
					{{lang 'custom.page.confirmation.support_request'}}
				</p>
			</div>
		</div>
	</div>
</div>

{{> components/custom/warranty-page/warranty-confirmation-css}}
