<div class="form-field">
    <label class="form-label" for="countries-field">{{lang 'forms.warranty_registration.country'}}
        <small>{{lang 'common.required' }}</small>
    </label>
    <select
                id="countries-field"
                name="country"
                data-name="country"
                required=""
                class="form-select"
            >
                <option value="">{{lang 'forms.select_one'}}</option>
                <option value="{{lang 'forms.country.usa'}}">{{lang 'forms.country.usa'}}</option>
                <option value="{{lang 'forms.country.afg'}}">{{lang 'forms.country.afg'}}</option>
                <option value="{{lang 'forms.country.alb'}}">{{lang 'forms.country.alb'}}</option>
                <option value="{{lang 'forms.country.dza'}}">{{lang 'forms.country.dza'}}</option>
                <option value="{{lang 'forms.country.and'}}">{{lang 'forms.country.and'}}</option>
                <option value="{{lang 'forms.country.ago'}}">{{lang 'forms.country.ago'}}</option>
                <option value="{{lang 'forms.country.atg'}}">{{lang 'forms.country.atg'}}</option>
                <option value="{{lang 'forms.country.arg'}}">{{lang 'forms.country.arg'}}</option>
                <option value="{{lang 'forms.country.arm'}}">{{lang 'forms.country.arm'}}</option>
                <option value="{{lang 'forms.country.aus'}}">{{lang 'forms.country.aus'}}</option>
                <option value="{{lang 'forms.country.aut'}}">{{lang 'forms.country.aut'}}</option>
                <option value="{{lang 'forms.country.aze'}}">{{lang 'forms.country.aze'}}</option>
                <option value="{{lang 'forms.country.bhs'}}">{{lang 'forms.country.bhs'}}</option>
                <option value="{{lang 'forms.country.bhr'}}">{{lang 'forms.country.bhr'}}</option>
                <option value="{{lang 'forms.country.bgd'}}">{{lang 'forms.country.bgd'}}</option>
                <option value="{{lang 'forms.country.brb'}}">{{lang 'forms.country.brb'}}</option>
                <option value="{{lang 'forms.country.blr'}}">{{lang 'forms.country.blr'}}</option>
                <option value="{{lang 'forms.country.bel'}}">{{lang 'forms.country.bel'}}</option>
                <option value="{{lang 'forms.country.blz'}}">{{lang 'forms.country.blz'}}</option>
                <option value="{{lang 'forms.country.ben'}}">{{lang 'forms.country.ben'}}</option>
                <option value="{{lang 'forms.country.btn'}}">{{lang 'forms.country.btn'}}</option>
                <option value="{{lang 'forms.country.bol'}}">{{lang 'forms.country.bol'}}</option>
                <option value="{{lang 'forms.country.bih'}}">{{lang 'forms.country.bih'}}</option>
                <option value="{{lang 'forms.country.bwa'}}">{{lang 'forms.country.bwa'}}</option>
                <option value="{{lang 'forms.country.bra'}}">{{lang 'forms.country.bra'}}</option>
                <option value="{{lang 'forms.country.brn'}}">{{lang 'forms.country.brn'}}</option>
                <option value="{{lang 'forms.country.bgr'}}">{{lang 'forms.country.bgr'}}</option>
                <option value="{{lang 'forms.country.bfa'}}">{{lang 'forms.country.bfa'}}</option>
                <option value="{{lang 'forms.country.mmr'}}">{{lang 'forms.country.mmr'}}</option>
                <option value="{{lang 'forms.country.bdi'}}">{{lang 'forms.country.bdi'}}</option>
                <option value="{{lang 'forms.country.khm'}}">{{lang 'forms.country.khm'}}</option>
                <option value="{{lang 'forms.country.cmr'}}">{{lang 'forms.country.cmr'}}</option>
                <option value="{{lang 'forms.country.can'}}">{{lang 'forms.country.can'}}</option>
                <option value="{{lang 'forms.country.cpv'}}">{{lang 'forms.country.cpv'}}</option>
                <option value="{{lang 'forms.country.caf'}}">{{lang 'forms.country.caf'}}</option>
                <option value="{{lang 'forms.country.tcd'}}">{{lang 'forms.country.tcd'}}</option>
                <option value="{{lang 'forms.country.chl'}}">{{lang 'forms.country.chl'}}</option>
                <option value="{{lang 'forms.country.chn'}}">{{lang 'forms.country.chn'}}</option>
                <option value="{{lang 'forms.country.twn'}}">{{lang 'forms.country.twn'}}</option>
                <option value="{{lang 'forms.country.col'}}">{{lang 'forms.country.col'}}</option>
                <option value="{{lang 'forms.country.com'}}">{{lang 'forms.country.com'}}</option>
                <option value="{{lang 'forms.country.cod'}}">{{lang 'forms.country.cod'}}</option>
                <option value="{{lang 'forms.country.cog'}}">{{lang 'forms.country.cog'}}</option>
                <option value="{{lang 'forms.country.cri'}}">{{lang 'forms.country.cri'}}</option>
                <option value="{{lang 'forms.country.hrv'}}">{{lang 'forms.country.hrv'}}</option>
                <option value="{{lang 'forms.country.cub'}}">{{lang 'forms.country.cub'}}</option>
                <option value="{{lang 'forms.country.cyp'}}">{{lang 'forms.country.cyp'}}</option>
                <option value="{{lang 'forms.country.cze'}}">{{lang 'forms.country.cze'}}</option>
                <option value="{{lang 'forms.country.dnz'}}">{{lang 'forms.country.dnz'}}</option>
                <option value="{{lang 'forms.country.dnk'}}">{{lang 'forms.country.dnk'}}</option>
                <option value="{{lang 'forms.country.dji'}}">{{lang 'forms.country.dji'}}</option>
                <option value="{{lang 'forms.country.dma'}}">{{lang 'forms.country.dma'}}</option>
                <option value="{{lang 'forms.country.dom'}}">{{lang 'forms.country.dom'}}</option>
                <option value="{{lang 'forms.country.tls'}}">{{lang 'forms.country.tls'}}</option>
                <option value="{{lang 'forms.country.ecu'}}">{{lang 'forms.country.ecu'}}</option>
                <option value="{{lang 'forms.country.egy'}}">{{lang 'forms.country.egy'}}</option>
                <option value="{{lang 'forms.country.slv'}}">{{lang 'forms.country.slv'}}</option>
                <option value="{{lang 'forms.country.gnq'}}">{{lang 'forms.country.gnq'}}</option>
                <option value="{{lang 'forms.country.eri'}}">{{lang 'forms.country.eri'}}</option>
                <option value="{{lang 'forms.country.est'}}">{{lang 'forms.country.est'}}</option>
                <option value="{{lang 'forms.country.eth'}}">{{lang 'forms.country.eth'}}</option>
                <option value="{{lang 'forms.country.fji'}}">{{lang 'forms.country.fji'}}</option>
                <option value="{{lang 'forms.country.fin'}}">{{lang 'forms.country.fin'}}</option>
                <option value="{{lang 'forms.country.fra'}}">{{lang 'forms.country.fra'}}</option>
                <option value="{{lang 'forms.country.gab'}}">{{lang 'forms.country.gab'}}</option>
                <option value="{{lang 'forms.country.gza'}}">{{lang 'forms.country.gza'}}</option>
                <option value="{{lang 'forms.country.gmb'}}">{{lang 'forms.country.gmb'}}</option>
                <option value="{{lang 'forms.country.geo'}}">{{lang 'forms.country.geo'}}</option>
                <option value="{{lang 'forms.country.deu'}}">{{lang 'forms.country.deu'}}</option>
                <option value="{{lang 'forms.country.gha'}}">{{lang 'forms.country.gha'}}</option>
                <option value="{{lang 'forms.country.grc'}}">{{lang 'forms.country.grc'}}</option>
                <option value="{{lang 'forms.country.grd'}}">{{lang 'forms.country.grd'}}</option>
                <option value="{{lang 'forms.country.gtm'}}">{{lang 'forms.country.gtm'}}</option>
                <option value="{{lang 'forms.country.gin'}}">{{lang 'forms.country.gin'}}</option>
                <option value="{{lang 'forms.country.gnb'}}">{{lang 'forms.country.gnb'}}</option>
                <option value="{{lang 'forms.country.guy'}}">{{lang 'forms.country.guy'}}</option>
                <option value="{{lang 'forms.country.hti'}}">{{lang 'forms.country.hti'}}</option>
                <option value="{{lang 'forms.country.hnd'}}">{{lang 'forms.country.hnd'}}</option>
                <option value="{{lang 'forms.country.hun'}}">{{lang 'forms.country.hun'}}</option>
                <option value="{{lang 'forms.country.isl'}}">{{lang 'forms.country.isl'}}</option>
                <option value="{{lang 'forms.country.ind'}}">{{lang 'forms.country.ind'}}</option>
                <option value="{{lang 'forms.country.idn'}}">{{lang 'forms.country.idn'}}</option>
                <option value="{{lang 'forms.country.irn'}}">{{lang 'forms.country.irn'}}</option>
                <option value="{{lang 'forms.country.irq'}}">{{lang 'forms.country.irq'}}</option>
                <option value="{{lang 'forms.country.irl'}}">{{lang 'forms.country.irl'}}</option>
                <option value="{{lang 'forms.country.isr'}}">{{lang 'forms.country.isr'}}</option>
                <option value="{{lang 'forms.country.ita'}}">{{lang 'forms.country.ita'}}</option>
                <option value="{{lang 'forms.country.civ'}}">{{lang 'forms.country.civ'}}</option>
                <option value="{{lang 'forms.country.jam'}}">{{lang 'forms.country.jam'}}</option>
                <option value="{{lang 'forms.country.jpn'}}">{{lang 'forms.country.jpn'}}</option>
                <option value="{{lang 'forms.country.jld'}}">{{lang 'forms.country.jld'}}</option>
                <option value="{{lang 'forms.country.jor'}}">{{lang 'forms.country.jor'}}</option>
                <option value="{{lang 'forms.country.kaz'}}">{{lang 'forms.country.kaz'}}</option>
                <option value="{{lang 'forms.country.ken'}}">{{lang 'forms.country.ken'}}</option>
                <option value="{{lang 'forms.country.kir'}}">{{lang 'forms.country.kir'}}</option>
                <option value="{{lang 'forms.country.prk'}}">{{lang 'forms.country.prk'}}</option>
                <option value="{{lang 'forms.country.kor'}}">{{lang 'forms.country.kor'}}</option>
                <option value="{{lang 'forms.country.xkx'}}">{{lang 'forms.country.xkx'}}</option>
                <option value="{{lang 'forms.country.kwt'}}">{{lang 'forms.country.kwt'}}</option>
                <option value="{{lang 'forms.country.kgz'}}">{{lang 'forms.country.kgz'}}</option>
                <option value="{{lang 'forms.country.lao'}}">{{lang 'forms.country.lao'}}</option>
                <option value="{{lang 'forms.country.lva'}}">{{lang 'forms.country.lva'}}</option>
                <option value="{{lang 'forms.country.lbn'}}">{{lang 'forms.country.lbn'}}</option>
                <option value="{{lang 'forms.country.lso'}}">{{lang 'forms.country.lso'}}</option>
                <option value="{{lang 'forms.country.lbr'}}">{{lang 'forms.country.lbr'}}</option>
                <option value="{{lang 'forms.country.lby'}}">{{lang 'forms.country.lby'}}</option>
                <option value="{{lang 'forms.country.lie'}}">{{lang 'forms.country.lie'}}</option>
                <option value="{{lang 'forms.country.ltu'}}">{{lang 'forms.country.ltu'}}</option>
                <option value="{{lang 'forms.country.lux'}}">{{lang 'forms.country.lux'}}</option>
                <option value="{{lang 'forms.country.mkd'}}">{{lang 'forms.country.mkd'}}</option>
                <option value="{{lang 'forms.country.mdg'}}">{{lang 'forms.country.mdg'}}</option>
                <option value="{{lang 'forms.country.mwi'}}">{{lang 'forms.country.mwi'}}</option>
                <option value="{{lang 'forms.country.mys'}}">{{lang 'forms.country.mys'}}</option>
                <option value="{{lang 'forms.country.mdv'}}">{{lang 'forms.country.mdv'}}</option>
                <option value="{{lang 'forms.country.mli'}}">{{lang 'forms.country.mli'}}</option>
                <option value="{{lang 'forms.country.mlt'}}">{{lang 'forms.country.mlt'}}</option>
                <option value="{{lang 'forms.country.mhl'}}">{{lang 'forms.country.mhl'}}</option>
                <option value="{{lang 'forms.country.mrt'}}">{{lang 'forms.country.mrt'}}</option>
                <option value="{{lang 'forms.country.mus'}}">{{lang 'forms.country.mus'}}</option>
                <option value="{{lang 'forms.country.mex'}}">{{lang 'forms.country.mex'}}</option>
                <option value="{{lang 'forms.country.fsm'}}">{{lang 'forms.country.fsm'}}</option>
                <option value="{{lang 'forms.country.mda'}}">{{lang 'forms.country.mda'}}</option>
                <option value="{{lang 'forms.country.mco'}}">{{lang 'forms.country.mco'}}</option>
                <option value="{{lang 'forms.country.mng'}}">{{lang 'forms.country.mng'}}</option>
                <option value="{{lang 'forms.country.mne'}}">{{lang 'forms.country.mne'}}</option>
                <option value="{{lang 'forms.country.mar'}}">{{lang 'forms.country.mar'}}</option>
                <option value="{{lang 'forms.country.ath'}}">{{lang 'forms.country.ath'}}</option>
                <option value="{{lang 'forms.country.moz'}}">{{lang 'forms.country.moz'}}</option>
                <option value="{{lang 'forms.country.nam'}}">{{lang 'forms.country.nam'}}</option>
                <option value="{{lang 'forms.country.nru'}}">{{lang 'forms.country.nru'}}</option>
                <option value="{{lang 'forms.country.npl'}}">{{lang 'forms.country.npl'}}</option>
                <option value="{{lang 'forms.country.nfl'}}">{{lang 'forms.country.nfl'}}</option>
                <option value="{{lang 'forms.country.nld'}}">{{lang 'forms.country.nld'}}</option>
                <option value="{{lang 'forms.country.nzl'}}">{{lang 'forms.country.nzl'}}</option>
                <option value="{{lang 'forms.country.nic'}}">{{lang 'forms.country.nic'}}</option>
                <option value="{{lang 'forms.country.ner'}}">{{lang 'forms.country.ner'}}</option>
                <option value="{{lang 'forms.country.nga'}}">{{lang 'forms.country.nga'}}</option>
                <option value="{{lang 'forms.country.nor'}}">{{lang 'forms.country.nor'}}</option>
                <option value="{{lang 'forms.country.omn'}}">{{lang 'forms.country.omn'}}</option>
                <option value="{{lang 'forms.country.ote'}}">{{lang 'forms.country.ote'}}</option>
                <option value="{{lang 'forms.country.pak'}}">{{lang 'forms.country.pak'}}</option>
                <option value="{{lang 'forms.country.plw'}}">{{lang 'forms.country.plw'}}</option>
                <option value="{{lang 'forms.country.pan'}}">{{lang 'forms.country.pan'}}</option>
                <option value="{{lang 'forms.country.png'}}">{{lang 'forms.country.png'}}</option>
                <option value="{{lang 'forms.country.pry'}}">{{lang 'forms.country.pry'}}</option>
                <option value="{{lang 'forms.country.per'}}">{{lang 'forms.country.per'}}</option>
                <option value="{{lang 'forms.country.phl'}}">{{lang 'forms.country.phl'}}</option>
                <option value="{{lang 'forms.country.pol'}}">{{lang 'forms.country.pol'}}</option>
                <option value="{{lang 'forms.country.prt'}}">{{lang 'forms.country.prt'}}</option>
                <option value="{{lang 'forms.country.pru'}}">{{lang 'forms.country.pru'}}</option>
                <option value="{{lang 'forms.country.qat'}}">{{lang 'forms.country.qat'}}</option>
                <option value="{{lang 'forms.country.rou'}}">{{lang 'forms.country.rou'}}</option>
                <option value="{{lang 'forms.country.rom'}}">{{lang 'forms.country.rom'}}</option>
                <option value="{{lang 'forms.country.rus'}}">{{lang 'forms.country.rus'}}</option>
                <option value="{{lang 'forms.country.rwa'}}">{{lang 'forms.country.rwa'}}</option>
                <option value="{{lang 'forms.country.kna'}}">{{lang 'forms.country.kna'}}</option>
                <option value="{{lang 'forms.country.lca'}}">{{lang 'forms.country.lca'}}</option>
                <option value="{{lang 'forms.country.vct'}}">{{lang 'forms.country.vct'}}</option>
                <option value="{{lang 'forms.country.wsm'}}">{{lang 'forms.country.wsm'}}</option>
                <option value="{{lang 'forms.country.smr'}}">{{lang 'forms.country.smr'}}</option>
                <option value="{{lang 'forms.country.stp'}}">{{lang 'forms.country.stp'}}</option>
                <option value="{{lang 'forms.country.sau'}}">{{lang 'forms.country.sau'}}</option>
                <option value="{{lang 'forms.country.sen'}}">{{lang 'forms.country.sen'}}</option>
                <option value="{{lang 'forms.country.srb'}}">{{lang 'forms.country.srb'}}</option>
                <option value="{{lang 'forms.country.syc'}}">{{lang 'forms.country.syc'}}</option>
                <option value="{{lang 'forms.country.sle'}}">{{lang 'forms.country.sle'}}</option>
                <option value="{{lang 'forms.country.sgp'}}">{{lang 'forms.country.sgp'}}</option>
                <option value="{{lang 'forms.country.svk'}}">{{lang 'forms.country.svk'}}</option>
                <option value="{{lang 'forms.country.svn'}}">{{lang 'forms.country.svn'}}</option>
                <option value="{{lang 'forms.country.slb'}}">{{lang 'forms.country.slb'}}</option>
                <option value="{{lang 'forms.country.som'}}">{{lang 'forms.country.som'}}</option>
                <option value="{{lang 'forms.country.zaf'}}">{{lang 'forms.country.zaf'}}</option>
                <option value="{{lang 'forms.country.esp'}}">{{lang 'forms.country.esp'}}</option>
                <option value="{{lang 'forms.country.lka'}}">{{lang 'forms.country.lka'}}</option>
                <option value="{{lang 'forms.country.sdn'}}">{{lang 'forms.country.sdn'}}</option>
                <option value="{{lang 'forms.country.sur'}}">{{lang 'forms.country.sur'}}</option>
                <option value="{{lang 'forms.country.swz'}}">{{lang 'forms.country.swz'}}</option>
                <option value="{{lang 'forms.country.swe'}}">{{lang 'forms.country.swe'}}</option>
                <option value="{{lang 'forms.country.che'}}">{{lang 'forms.country.che'}}</option>
                <option value="{{lang 'forms.country.syr'}}">{{lang 'forms.country.syr'}}</option>
                <option value="{{lang 'forms.country.tjk'}}">{{lang 'forms.country.tjk'}}</option>
                <option value="{{lang 'forms.country.tza'}}">{{lang 'forms.country.tza'}}</option>
                <option value="{{lang 'forms.country.tha'}}">{{lang 'forms.country.tha'}}</option>
                <option value="{{lang 'forms.country.tgo'}}">{{lang 'forms.country.tgo'}}</option>
                <option value="{{lang 'forms.country.ton'}}">{{lang 'forms.country.ton'}}</option>
                <option value="{{lang 'forms.country.tto'}}">{{lang 'forms.country.tto'}}</option>
                <option value="{{lang 'forms.country.tun'}}">{{lang 'forms.country.tun'}}</option>
                <option value="{{lang 'forms.country.tur'}}">{{lang 'forms.country.tur'}}</option>
                <option value="{{lang 'forms.country.tkm'}}">{{lang 'forms.country.tkm'}}</option>
                <option value="{{lang 'forms.country.tuv'}}">{{lang 'forms.country.tuv'}}</option>
                <option value="{{lang 'forms.country.uga'}}">{{lang 'forms.country.uga'}}</option>
                <option value="{{lang 'forms.country.ukr'}}">{{lang 'forms.country.ukr'}}</option>
                <option value="{{lang 'forms.country.are'}}">{{lang 'forms.country.are'}}</option>
                <option value="{{lang 'forms.country.gbr'}}">{{lang 'forms.country.gbr'}}</option>
                <option value="{{lang 'forms.country.ury'}}">{{lang 'forms.country.ury'}}</option>
                <option value="{{lang 'forms.country.uzb'}}">{{lang 'forms.country.uzb'}}</option>
                <option value="{{lang 'forms.country.vut'}}">{{lang 'forms.country.vut'}}</option>
                <option value="{{lang 'forms.country.vat'}}">{{lang 'forms.country.vat'}}</option>
                <option value="{{lang 'forms.country.ven'}}">{{lang 'forms.country.ven'}}</option>
                <option value="{{lang 'forms.country.vnm'}}">{{lang 'forms.country.vnm'}}</option>
                <option value="{{lang 'forms.country.yem'}}">{{lang 'forms.country.yem'}}</option>
                <option value="{{lang 'forms.country.zmb'}}">{{lang 'forms.country.zmb'}}</option>
                <option value="{{lang 'forms.country.zwe'}}">{{lang 'forms.country.zwe'}}</option>                
            </select>
</div>
