<div class="form-field">
    <label class="form-label" for="incorporated">{{lang 'forms.incorporated'}}</label>
    <select
                
                name="incorporated"
                data-name="incorporated"
                id="incorporated"
                class="form-select"
            >
                <option value="">{{lang 'forms.select_one'}}</option>
                <option value="{{lang 'consent_manager.yes'}}">{{lang 'consent_manager.yes'}}</option>
                <option value="{{lang 'consent_manager.no'}}">{{lang 'consent_manager.no'}}</option>
            </select>
</div>
