<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "slide": "[data-product-slide]",
        "dots": false,
        "responsive": [
            {
                "breakpoint": 870,
                "settings": {
                    "slidesToShow": {{columns}},
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 768,
                "settings": {
                    "slidesToShow": {{tablet-columns}},
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 640,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 480,
                "settings": {
                    "slidesToShow": {{mobile-columns}},
                    "slidesToScroll": 1
                }
            }

        ]
    }'
    set-content-slide type="{{type}}" blog-type="{{blog_type}}"
>
    
    <!-- {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}} -->
</section>
