{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{#if category.products}}
    {{!-- 
    {{> components/custom/category-view-toggle type=theme_settings.product_list_display_mode}}
    <a class="category__compare-link" href="{{urls.compare}}" data-compare-nav
        aria-label="{{lang 'common.compare'}}">
        {{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span>
    </a>
    {{> components/custom/custom-fs category}}
    
    {{> components/products/filter sort=pagination.category.sort}}
    --}}
    
    <div id="product-block">

        {{!-- Assign allowed category IDs --}}
        {{assignVar "customBannerCategories" "74 76 70 75 52"}}

        {{#contains (getVar "customBannerCategories") (concat category.id "")}}
            <div class="top-custom-banner on-prod">
                <div class="top-banner-text">Need something custom? <span class="mobile-hide">Give us a call!</span></div>
                <a href="tel:8002277713" class="top-banner-call">
                    <img src="https://img.icons8.com/ios-filled/50/000000/phone.png" alt="Phone Icon" />
                    800.227.7713
                </a>
            </div>
        {{/contains}}

        {{assignVar  'type' 'pc'}}
        {{> components/custom/filter/custom-filter-box-at-top-grid type="pc"}} 
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
         <div id="loader-block" style="margin:auto;display: flex;">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div> 
    </div>
    
    
    {{!-- 
    {{> components/common/paginator
        pagination.category
        page_type=page_type
        show_dropdown=theme_settings.its.paginator_dropdown
        paginator_dropdown_page_count=(ceil (divide category.total_products theme_settings.categorypage_products_per_page))
    }}--}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
