
{{#if list '==' 'auto-taper'}} 
	{{> components/custom/schematic/7097-Drive-Dog-Assembly }}
	{{> components/custom/schematic/7218-Taper-Wheel-Assembly }}
	{{> components/custom/schematic/7293-Gooser-Assembly }}
	{{> components/custom/schematic/9333-Cutter-Chain-Assembly }}
	{{> components/custom/schematic/7377-Cover-Plate-AssemblyOld-Style }}
	{{> components/custom/schematic/Taper-Head-Assembly-New-Style-4-760 }}
	{{> components/custom/schematic/Taper-Tube-Assembly }}
{{else if list '==' 'minishot'}}
    {{> components/custom/schematic/4-772-MiniShot }}
{{else if list '==' 'flat-boxes'}}
	{{> components/custom/schematic/4-764-New-Hinge-box-Final }}
	{{> components/custom/schematic/4-765-New-Hinge-box-Final }}
	{{> components/custom/schematic/4-766-New-Hinge-box-Final }}
	{{> components/custom/schematic/4-770-New-Hinge-box-Final }}
	{{> components/custom/schematic/4-767-Hinged-Mega-box-Final }}
	{{> components/custom/schematic/4-768-Hinged-Mega-box-Final }}
	{{> components/custom/schematic/4-769-Hinged-Mega-box-Final }}
	{{> components/custom/schematic/7-inch-Flat-Box-4-764 }}
	{{> components/custom/schematic/10-inch-Flat-Box-4-765 }}
	{{> components/custom/schematic/12-inch-Flat-Box-4-766 }}
    {{> components/custom/schematic/14-inch-Flat-Box-4-770 }}
	{{> components/custom/schematic/7-inch-Mega-Flat-Box-4-767 }}
	{{> components/custom/schematic/10-inch-Mega-Flat-Box-4-768 }}
	{{> components/custom/schematic/12-inch-Mega-Box-4-769 }}
{{else if list '==' 'pump'}}
	{{> components/custom/schematic/4-771-Pump }}
	{{> components/custom/schematic/Compound-Pump-4-771 }}
{{else if list '==' 'corner-finisher'}}
	{{> components/custom/schematic/2-5-inch-Corner-Finisher-4-732 }}
	{{> components/custom/schematic/4-734-3-5-Corner-Finisher }}
	{{> components/custom/schematic/4-735-4-Corner-Finisher }}
	{{> components/custom/schematic/3-inch-Corner-Finisher-4-733 }}
{{else if list '==' 'corner-applicator'}}
	{{> components/custom/schematic/7-inch-Corner-Applicator-4-701 }}
	{{> components/custom/schematic/8-inch-Corner-Applicator-4-702- }}
{{else if list '==' 'roller'}}
	{{> components/custom/schematic/Corner-Roller-4-707 }}
{{else if list '==' 'spotter'}}
	{{> components/custom/schematic/4-754-N-Spotter-Final }}
	{{> components/custom/schematic/4-755-N-Spotter-Final }}
	{{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }}
{{else if list '==' 'tube'}}
	{{> components/custom/schematic/4-741-Tube }}
{{else if list '==' 'handles'}}
	{{> components/custom/schematic/4-780-EXT-BOX-Handle-Final-Revision }}
	{{> components/custom/schematic/4-781-EXT-BOX-Handle-Final-Revision }}
	{{> components/custom/schematic/4-782-EXT-BOX-Handle-Final-Revision }}
	{{> components/custom/schematic/52-inch-Extendable-Accessory-Handle-4-880 }}
	{{> components/custom/schematic/72-inch-Extendable-Accessory-Handle-4-881 }}
{{/if}}	
