{{!-- Product SKU schematic accordion  --}}
{{assignVar "ProdSKU" "4-754 4-732 4-733 4-734 4-735 4-741 4-755 4-759 4-764 4-765 4-766 4-770 4-771 4-772 4-780 4-781 4-782 4-767 4-768 4-769 4-701 4-702 4-880 4-881 4-760 4-707"}}
{{#contains (getVar "ProdSKU") (concat product.sku "")}}  
<div data-tabcon="tab-schematic" id="schematic-prod-description"> 
    <a class="dropdown-toggle w-dropdown-toggle accordion-mobile" data-accordion="tab-schematic">
        <div class="accordion-title white">{{lang 'products.schematic'}}</div>
        <i class="fas fa-sharp fa-chevron-right" style="color: #ffffff;" accordion-ddown></i>
    </a>
    <div class="container tab-content tab-content--schematic tab-content-custom pdp-content-body" id="tab-schematic" accordion-mobile-content>
        <h3 class="pdp-content-header">{{lang 'custom.page.parts-components.name'}}</h2>
        <div class="schematic-list-wrapper">
            {{!-- 2-inch-Nail-Spotter-4-754-old-style  --}}
            {{assignVar "ProdSKU" "4-754"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}  
            <div class="schematic-list"> 
                {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
            </div>
            {{/contains}}
            
            {{!-- 2.5-inch-Corner-Finisher-4-732  --}}
            {{assignVar "ProdSKU" "4-732"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/2-5-inch-Corner-Finisher-4-732 }}
            </div>
            {{/contains}}
            
            {{!-- 3-inch-Corner-Finisher-4-733  --}}
            {{assignVar "ProdSKU" "4-733"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/3-inch-Corner-Finisher-4-733 }}
            </div>
            {{/contains}}
            
            {{!-- 4-734-3.5-Corner-Finisher  --}}
            {{assignVar "ProdSKU" "4-734"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-734-3-5-Corner-Finisher }}
            </div>
            {{/contains}}
            
            {{!-- 4-735-4-Corner-Finisher  --}}
            {{assignVar "ProdSKU" "4-735"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-735-4-Corner-Finisher }}
            </div>
            {{/contains}}
            
            {{!-- 4-741-Tube  --}}
            {{assignVar "ProdSKU" "4-741"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-741-Tube }}
            </div>
            {{/contains}}
            
            {{!-- 4-754-N-Spotter-Final  --}}
            {{assignVar "ProdSKU" "4-754"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-754-N-Spotter-Final }}
            </div>
            {{/contains}}
            
            {{!-- 4-755-N-Spotter-Final  --}}
            {{assignVar "ProdSKU" "4-755"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-755-N-Spotter-Final }}
            </div>
            {{/contains}}
            
            {{!-- 4-759-EXT-BOX-Handle-Final-Revision  --}}
            {{assignVar "ProdSKU" "4-759"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-759-EXT-BOX-Handle-Final-Revision }}
            </div>
            {{/contains}}
            
            {{!-- 4-764-New-Hinge-box-Final  --}}
            {{assignVar "ProdSKU" "4-764"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-764-New-Hinge-box-Final }}
            </div>
            {{/contains}}
            
            {{!-- 765-New-Hinge-box-Final  --}}
            {{assignVar "ProdSKU" "4-765"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-765-New-Hinge-box-Final }}
            </div>
            {{/contains}}
            
            {{!-- 766-New-Hinge-box-Final  --}}
            {{assignVar "ProdSKU" "4-766"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-766-New-Hinge-box-Final }}
            </div>
            {{/contains}}
            
            {{!-- 770-New-Hinge-box-Final  --}}
            {{assignVar "ProdSKU" "4-770"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-770-New-Hinge-box-Final }}
            </div>
            {{/contains}}
            
            {{!-- 4-771-Pump  }}
            {{assignVar "ProdSKU" "4-771"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-771-Pump }}
            </div>
            {{/contains --}}
            
            {{!-- 4-772-MiniShot  --}}
            {{assignVar "ProdSKU" "4-772"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-772-MiniShot }}
            </div>
            {{/contains}}
            
            {{!-- 4-780-EXT-BOX-Handle-Final-Revision  --}}
            {{assignVar "ProdSKU" "4-780"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-780-EXT-BOX-Handle-Final-Revision }}
            </div>
            {{/contains}}
            
            {{!-- 4-781-EXT-BOX-Handle-Final-Revision  --}}
            {{assignVar "ProdSKU" "4-781"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-781-EXT-BOX-Handle-Final-Revision}}
            </div>
            {{/contains}}
            
            {{!-- 4-782-EXT-BOX-Handle-Final-Revision  --}}
            {{assignVar "ProdSKU" "4-782"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-782-EXT-BOX-Handle-Final-Revision}}
            </div>
            {{/contains}}
            
            {{!-- 4-767-Hinged-Mega-box-Final  --}}
            {{assignVar "ProdSKU" "4-767"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-767-Hinged-Mega-box-Final}}
            </div>
            {{/contains}}
            
            {{!-- 4-768-Hinged-Mega-box-Final  --}}
            {{assignVar "ProdSKU" "4-768"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-768-Hinged-Mega-box-Final}}
            </div>
            {{/contains}}
            
            {{!-- 769-Hinged-Mega-box-Final  --}}
            {{assignVar "ProdSKU" "4-769"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/4-769-Hinged-Mega-box-Final}}
            </div>
            {{/contains}}
            
            {{!-- 7-inch-Corner-Applicator-4-701  --}}
            {{assignVar "ProdSKU" "4-701"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7-inch-Corner-Applicator-4-701}}
            </div>
            {{/contains}}
            
            {{!-- 7-inch-Flat-Box-4-764  --}}
            {{assignVar "ProdSKU" "4-764"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7-inch-Flat-Box-4-764}}
            </div>
            {{/contains}}
            
            {{!-- 7-inch-Mega-Flat-Box-4-767  --}}
            {{assignVar "ProdSKU" "4-767"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7-inch-Mega-Flat-Box-4-767}}
            </div>
            {{/contains}}
            
            {{!-- 8-inch-Corner-Applicator-4-702-  --}}
            {{assignVar "ProdSKU" "4-702"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/8-inch-Corner-Applicator-4-702-}}
            </div>
            {{/contains}}
            
            {{!-- 10-inch-Flat-Box-4-765-  --}}
            {{assignVar "ProdSKU" "4-765"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/10-inch-Flat-Box-4-765}}
            </div>
            {{/contains}}
            
            {{!-- 10-inch-Mega-Flat-Box-4-768  --}}
            {{assignVar "ProdSKU" "4-768"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/10-inch-Mega-Flat-Box-4-768}}
            </div>
            {{/contains}}
            
            {{!-- 12-inch-Flat-Box-4-766  --}}
            {{assignVar "ProdSKU" "4-766"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/12-inch-Flat-Box-4-766}}
            </div>
            {{/contains}}
            
            {{!-- 12-inch-Mega-Box-4-769 --}}
            {{assignVar "ProdSKU" "4-769"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/12-inch-Mega-Box-4-769}}
            </div>
            {{/contains}}
            
            {{!-- 14-inch-Flat-Box-4-770 --}}
            {{assignVar "ProdSKU" "4-770"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/14-inch-Flat-Box-4-770}}
            </div>
            {{/contains}}
            
            {{!-- 52-inch-Extendable-Accessory-Handle-4-880 --}}
            {{assignVar "ProdSKU" "4-880"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/52-inch-Extendable-Accessory-Handle-4-880}}
            </div>
            {{/contains}}
            
            {{!-- 72-inch-Extendable-Accessory-Handle-4-881 --}}
            {{assignVar "ProdSKU" "4-881"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/72-inch-Extendable-Accessory-Handle-4-881}}
            </div>
            {{/contains}}

            {{!-- 7218-Taper-Wheel-Assembly --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7218-Taper-Wheel-Assembly}}
            </div>
            {{/contains}}
            
            {{!-- 7293-Gooser-Assembly --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7293-Gooser-Assembly}}
            </div>
            {{/contains}}
            
            {{!-- 7377-Cover-Plate-AssemblyOld-Style --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7377-Cover-Plate-AssemblyOld-Style}}
            </div>
            {{/contains}}
            
            {{!-- 9333-Cutter-Chain-Assembly --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/9333-Cutter-Chain-Assembly}}
            </div>
            {{/contains}}
            
            {{!-- Compound-Pump-4-771 --}}
            {{assignVar "ProdSKU" "4-771"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/Compound-Pump-4-771}}
            </div>
            {{/contains}}
            
            {{!-- Corner-Roller-4-707 --}}
            {{assignVar "ProdSKU" "4-707"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/Corner-Roller-4-707}}
            </div>
            {{/contains}}
            
            {{!-- Taper-Head-Assembly-New-Style-4-760 --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/Taper-Head-Assembly-New-Style-4-760}}
            </div>
            {{/contains}}
            
            {{!-- Taper-Tube-Assembly --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/Taper-Tube-Assembly}}
            </div>
            {{/contains}}

            {{!-- 7097-Drive-Dog-Assembly --}}
            {{assignVar "ProdSKU" "4-760"}}
            {{#contains (getVar "ProdSKU") (concat product.sku "")}}
            <div class="schematic-list">
                {{> components/custom/schematic/7097-Drive-Dog-Assembly}}
            </div>
            {{/contains}}
        </div>
    </div>
</div>
{{/contains}}
    
