
<div class="grid-item heading sch--col-mob">{{lang 'custom.page.parts-components.table.schematic'}} #</div>
<div class="grid-item heading sch--col-mobile over-padding-left">#</div>
<div class="grid-item heading">{{lang 'custom.page.parts-components.table.part'}} <span class="sch--col-mob"> #</span></div>
<div class="grid-item heading sch-item-desc">{{lang 'products.description'}}</div>
<div class="grid-item heading">{{lang 'invoice.price'}}</div>
<div class="grid-item heading over-padding-right">{{lang 'products.add_to_cart'}}</div>
