<div class="filter-skeleton-container">
  <div class="filter-skeleton-post">
    <div class="filter-skeleton-sort"></div>
    </div>
  
  <div class="filter-skeleton-post">
    
    <div class="filter-skeleton-line"></div>
    <div class="filter-skeleton-line"></div>
  </div>

  <div class="filter-skeleton-post">
    
    <div class="filter-skeleton-line"></div>
    <div class="filter-skeleton-line"></div>
  </div>

  <div class="filter-skeleton-post">
    
    <div class="filter-skeleton-line"></div>
    <div class="filter-skeleton-line"></div>
  </div>
</div>
