        
<!-- SSCODE: MOBILE SORT/FILTER SELECTOR -->
<section class="container" id="product-filter-container">
    <div class="actionBar filter--section" mobile>
        <fieldset class="form-fieldset actionBar-section" > 
            <div class="filter-mobile-wrapper">
                {{assignVar "filter-type" "mobile"}}
                {{> components/custom/filter/custom-sort-filter}}
                <div class="filter-wrapper filter-button" id="filter-button-mobile" have-filter>
                    <label class="form-label form-select--small" for="sort">{{lang 'common.filter'}}/{{lang 'common.label'}}</label>
                    <img src="{{cdn 'img/filter/filter-icon.png'}}" style="height: 17px;margin-left: 5px;">
                </div>
                
            </div>
        </fieldset>
    </div>
</section>

<div class="custom-model-main">
  <div class="custom-model-inner">
    
    <div class="custom-model-wrap">
      <div class="pop-up-content-wrap">
        <div><b>Filter</b></div>
        {{> components/custom/filter/custom-sidebar-filter}}
    </div>
</div>
</div>
<div class="bg-overlay">
    <div class="close-btn">X</div>
</div>
</div>
